body 	{
	zfont:12px Verdana, Arial;
	min-device-width: 481px;
	max-device-width: 1024px;
	#min-width: 481px;
	#max-width: 1024px;
	#min-height: 768px;
	#max-height: 768px;
	padding:10px;
	font-family: 'Lucida Grande', 'Verdana', 'Arial';
	font-size: 13px;
	
	scrollbar-face-color      : ddd;
	scrollbar-arrow-color     : ddd;
	scrollbar-track-color     : background-color:transparent;
	scrollbar-shadow-color    : eee;
	scrollbar-highlight-color : white;
	scrollbar-3dlight-color   : aaa;
	scrollbar-darkshadow-Color: 666;
}

::-webkit-scrollbar{width:8px}
::-webkit-scrollbar-track-piece{background-color:transparent}
::-webkit-scrollbar-thumb{background:#ddd}

a, a:hover {
	color: #000000;
	text-decoration: none;
}

.notification {
	position:absolute;
	float:right;
	right:70px;
	top:25px;
	width:6px;
	z-index:1;
}

.navBarBrand {
	margin-left: 0px !important;
	font-weight: bold !important;
	color: #AAA !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
	padding-top: 2px !important;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
	line-height: 35px;
}

.search-close {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 25px;
	cursor: pointer;
	z-index: 1103;
	padding:0px !important;
}

.selectedMainItemInverse:hover { color: #FFFFFF !important; }
.selectedMainItemInverse { font-weight: bold !important; color: #880A0F !important; }
.selectedMainItem:hover { color: #333333 !important; }
.selectedMainItem { font-weight: bold !important; color: #880A0F !important; }

.selectedItem:hover { color: #FFFFFF !important; }
.selectedItem {
	font-weight: bold !important;
	color: #880A0F !important;
}

.highlight  { background-color: yellow; }
.highLighTR { background-color: #AACCFF !important; border:0px #fff solid !important; }

.menuSpan {
	float:left;
	padding:5px 0px 10px 15px;
}

.menuSpan2 {
	float:right;
	padding:5px 15px 10px 0px;
}

.tabDiv {
	padding-top:60px;
	text-align:center;
	clear:both;
	height:auto;
}

.optTD {
	text-align:center;
	padding:5px 3px 5px 0px !important;
	background:#FAFAFA;
}

table.film {
	font-weight: normal;
	font-size: 11px;
	color: #404040;
	background-color: #fafafa;
	border:1px #6699CC solid;
	border-collapse: collapse;
	border-spacing: 0px;
	margin-top: 0px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}

table.film td.servHd {
	border-bottom:2px solid #6699CC;
	background-color: #BEC8D1;
	text-align: left;
	font-weight: bold;
	font-size: 11px;
	color: #404040;
}

table.film th {
	text-align: left;
	padding-right:10px;
	white-space:nowrap;
}

table.film td {
	height:17px;
	border-bottom:1px dotted #6699CC;
	font-weight: normal;
	font-size: 11px;
	color: #404040;
	background-color: white;
	padding-right:10px;
	white-space:nowrap;
}

.servBodL { border-left:1px dotted #CEDCEA; } 

#box1 a {
	/*color:#ffffff;
	background:#b3b06c;*/
	color:black;
	font-size: 12px;
	text-decoration:none;
	display:block;
	width:200px;
	padding:1px;
	border:0px solid black;
}

//#box1 a:hover { color:black; background:#ddd8b7;}
#box1 a span {display:none;}

#box1 a:hover span {
	background: #F4BE6C;
	position:absolute; /*top:10px; right:10px; */
	z-index:3;
	display:block;
	width:200px;
	color:black;
	border: 1px solid #333333;
	font-size: 12px;
	border:1px solid black;
	padding:10px;
}

#box2 a {
	/*color:#ffffff;
	background:#b3b06c;*/
	color:black;
	font-size: 12px;
	text-decoration:none;
	display:block;
	width:150px;
	padding:1px;
	border:0px solid black;
}

//#box2 a:hover {color:black; background:#ddd8b7;}
#box2 a span {display:none;}

#box2 a:hover span {
	background: #F4BE6C;
	position:absolute; /*top:10px; right:10px; */
	z-index:3;
	display:block;
	width:100px;
	color:black;
	border: 1px solid #333333;
	font-size: 12px;
	border:1px solid black;
	padding:10px;
}

.th0 { text-align:left; padding-top:5px; padding-bottom:5px; padding-left:10px; }
.th1 { text-align:left; padding-top:5px; padding-bottom:5px; }
.th4 { text-align:left; padding-top:5px; padding-bottom:5px; width:400px; }
.th2 { text-align:left; padding-top:5px; padding-bottom:5px; width:200px; padding-left:10px; }
.th5 { text-align:right !important; padding-right:10px; }

.countTD {
	padding-left:10px;
	text-align:right;
	color:black !important;
	font-size:12px !important;
}

.titleTD {
	padding-right:15px !important;
	max-width: 250px;
	overflow: hidden;
}

.yearTD {
	padding-left:10px;
	padding-right:2px;
}

.ratingTD {
	padding-right:10px;
}

.actorTD {
	max-width: 120px;
	overflow: hidden;
}

.genreTD {
	padding-left:10px;
}

.direcTD {
	max-width: 120px;
	overflow: hidden;
}

.fsizeTD {
	padding-left:10px;
}

.bottomTD {
	border-bottom:0px !important;
	padding-bottom:5px !important;
}

.openImdbDetail {
	white-space:nowrap;
}

.newAddedTH {
	padding-right:7px !important;
	padding-bottom:4px !important;
	font-size: 12px;
}

span.customStyleSelectBox {
	font-size:9px;
	background-color: #FAFAFA;
	color:#000000;
	padding:2px 5px 8px 10px;
	border:1px solid #6699CC;
	text-align:left;
	height:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px;
	overflow:hidden;
}

span.customStyleSelectBox.changed {
	color:#FFFFFF;
	background-color: #6699CC;
}

.customStyleSelectBoxInner {
	background:url(img/arrow.gif) no-repeat right;
	padding-right:15px;
	margin-right:5px;
	height:15px;
}

.styled-select {
	position:absolute; font-size:10px !important; height:18px !important; width:55px !important;
}

.styled-select2 {
	position:absolute; font-size:10px !important; height:18px !important; width:160px !important;
}

.okButton {
	background-color:#FAFAFA;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-size:12px;
	font-weight:bold;
	padding:2px 15px;
	margin:0px;
	text-decoration:none;
}

.okButtonClicked {
	color:#FFFFFF !important;
	background-color: #6699CC !important;
}

.okButton:active {
	position:relative;
	top:1px;
}

.watchedInfoT {
	padding:0px 5px 0px 25px;
	font-weight: normal;
}

.watchedInfoU {
	padding:0px 5px 0px  5px;
	font-weight: normal;
	color:#EA0204;
}

.watchedInfoS {
	padding:0px 5px 0px  5px;
	font-weight: normal;
	color:#008080;
}

.watchedInfoSpan {
	padding:0px 5px 0px  7px;
	color:silver;
}

.slv {
	color:silver;
}

.filterX {
	font-size:6px;
	color:red;
}

.radius05corner {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.radius10corner {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

#f1 { position:fixed; top:15px; left:530px; width:150px; height:150px; background-color:#afa; }

a {	color:black; text-decoration:none; font-size: 12px; }

.title {
	color:#000;
}

table.artists td.art {
	padding-right:0px;
	vertical-align:top;
	max-width:145px;
	overflow-x:hidden;
}

table.artists td.role {
	color:black;
	padding-left:15px;
}

table.artists td {
	white-space:nowrap;
}

.artists th {
	text-align:left;
	border-bottom: 1px dashed dimgray;
}

.artists tr {
	font-size: 12px;
}

.abstand {
	padding-bottom: 5px;
}

.centro {
	text-align:center !important;
}

.lefto {
	text-align:left !important;
}

.righto {
	text-align:right !important;
}

.streaminfoGenreTH {
	padding-right:15px;
}

.streaminfoGenre {
	padding-right:15px;
	border-right:1px dashed dimgray;
}

.detailLink {
	color:dimgray !important;
}

.streaminfoLasTD {
	padding-right:0px !important;
}

.streaminfoLLine {
	border-top:1px dashed dimgray;
}

.streaminfoAV {
	padding-left:15px;
}

.streaminfoAV2 {
	padding-left:15px;
	padding-right:25px !important;
}

.streaminfoAV3 {
	padding-left:25px;
}

table.streaminfo th {
	border-bottom: 1px dashed dimgray;
	text-align:left;
}

table.streaminfo th, table.streaminfo td {
	color:dimgray;
	padding-right:15px;
	padding-top:2px;
	padding-bottom:2px;
	vertical-align:top;
	white-space:nowrap;
}

.streaminfo tr {
	font-size: 12px;
}

.filename {
	float:left;
	padding-right:15px;
	max-width:500px;
	overflow-x:hidden;
}

.filesize {
	float:right;
}

input[type=checkbox] {
	height:10px;
	width:10px;
	margin:0px;
	margin-right:5px;
}

.coverDiv {
	float:left;
	margin-right:10px;
	margin-top:3px;
	width:260px;
	z-index:10;
	position:absolute;
	top:-15px;
	left:-12px;
}

.fanartBg {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:0;
	opacity:.2;
	filter: alpha(opacity = 20);
}

.innerCoverDiv {
	z-index:10;
	padding:5px;
	cursor:pointer;
	position:relative;
	background-color:#BEBEBE;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}

.innerCoverImg {
	position:relative;
	left:2px;
	top:2px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}

.moviebox {
	color:black;
	background-color: #F4BE6C;
	border: 0px solid #333333;
	width: 500px;
	padding: 15px;
	display:none;
	font-size: 12px;
	position:absolute;
}

.moviebox2 {
	color:black;
	margin-right:25px;
	left:275px;
	top:15px;
	font-size: 12px;
	position:absolute;
	text-align:justify;
	z-index:10;
}

.originalTitle {
	font-size: 12px;
}

.movieTitle {
	position:relative;
	font:26px verdana;
	font-weight:bold;
	white-space:nowrap;
	width:99%;
	z-index:10;
}

.movieFile {
	position:absolute;
	right:13px;
	top:15px;
	text-align:right;
	padding-bottom:13px;
	padding-right:15px;
	width:40%;
	font-size: 12px;
	color:dimgray;
	z-index:10;
}

#movieDescription {
	position:relative;
	top:15px;
	width:980px;
}

#spoiler {
	width:980px;
}

.moreDots {
	cursor:pointer;
	font-weight:bold;
}

.artitabbox {
	position:relative;
	float:left;
	color:black;
	font-size: 12px;
	top:22px;
	width:260px;
	overflow-x:hidden;
	margin-top:10px;
}

.stream {
	position:relative;
	float:right;
	right:0px;
	top:20px;
	margin-top:10px;
}

.artistbox {
	background-color: #F4BE6C;
	border: 1px solid #333333;
	width: 200px;
	padding: 15px;
	display:none;
	position:absolute;
}

.genrebox {
	background-color: #F4BE6C;
	border: 1px solid #333333;
	width: 100px;
	padding: 15px;
	display:none;
	position:absolute;
}				

.selectedfield {
	color:black;
	padding-top: 20px;
	padding-left: 0px;
	padding-bottom: 35px;
	font-size: 12px;
	position:absolute;
}

table.login {
	font:14px Verdana;
	font-weight: normal;
}

.fancyimage1 {
	cursor:pointer;
}

.fancy_iframe2 {
	cursor:pointer;
}

.fancy_iframe3 {
	cursor:pointer;
}

.tableCheck {
	width:10px;
	border:0px;
}

.checkboxSpan {
	vertical-align:bottom;
}

.movieCheckbox {
	padding-bottom:5px;
}

.trailerSpan {
	padding-left:3px;
	height:15px;
}

.filmRolle {
	height:12px;
	width:17px;
	border:0px;
	padding-top:3px;
}

table.gallery {
	font:13px Verdana, Arial;
	font-weight:normal;
	margin:-10px auto 25px;
}

.galleryCover {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	cursor:pointer;
	border:1px dashed #BCBCBC;
	color: #ffffff;
	width:92px;
	height:138px;
	background:#ffffff no-repeat;
}

.galleryCoverHref1 {
	width:100%;
	height:100%;
	position:relative;
}

.galleryCoverHref2 {
	width:23px;
	height:117px;
	position:relative;
	top:-117px;
	left:70px;
	margin:0px;
}

.galleryTD {
	padding:9px;
	border:0px;
}

.galleryEmptyTD {
	padding:5px;
	text-align:center;
	border:0px;
}

.galleryDIV {
	cursor:pointer;
	border:0px solid #000000;
	color: #ffffff;
	width:92px;
	height:135px;
}

.gallerySpan {
	cursor:default;
	position:relative;
	right:-75px;
	top:-140px;
	width:32px;
	height:183px;
	vertical-align:bottom;
	#display:table-cell;
	z-index:1;
}

.check10 {
	width:10px;
	height:10px;
	border:0px;
	position:relative;
	left:-1px;
	bottom:2px;
}

.icon10 {
	width:10px;
	height:10px;
	border:0px;
}

.icon24 {
	width:24px;
	height:24px;
	bottom:8px;
	border:0px;
}

.icon32 {
	width:32px;
	height:32px;
	border:0px;
}

.gallery1st {
	position:absolute;
	border:0px;
	left:4px;
	top:0px;
}

.gallery2nd {
	position:absolute;
	border:0px;
	bottom:32px;
}

.gallery3d {
	position:relative;
	top:-2px;
	left:-88px;
}

.galleryPlay {
	position:relative;
	top:0px;
	left:-5px;
	cursor:pointer;
}

.galleryPlay2nd {
	top:-24px;
}

.galleryCheckSpan {
	position:relative;
	right:-75px;
	bottom:-115px;
}

.galleryCheckImg {
	width:32px;
	height:32px;
	border:0px;
}

.flatBtn {
	border:1px solid #000000;
}

#hoverpic {
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
	z-index:10;
}

a.plmin {
	padding:0px 0px 0px 15px;
	position:relative;
	top:3px;
}

a.hidelink {
	background: url("./img/plus.png") no-repeat scroll 0 0px transparent;
}

a.showlink {
	background: url("./img/minus.png") no-repeat scroll 0 0px transparent;
}

.inputbox {
	background-color: #F2F5FA;
	color:            #6DA0E7;
	font-size:        12px;
	font-style:       normal;
	padding:          0px;
	margin:           3 0px;
	zwidth:            275px;
	border:           1px solid #6DA0E7;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.labelHack {
	float:right;
	padding:0px 5px;
}

.checkHack {
	padding:5px 5px;
	height:14px;
	float:right;
}

.labelHack2 {
	float:left;
	padding:0px 5px;
}

.checkHack2 {
	padding:5px 5px;
	height:14px;
	float:left;
}

.mnuIcon    { position:relative; top:-24px; right:0px; width:24px; height:0px; }
#showDesc   { border:0px; position:absolute; top:0px; left:0px; width:0px; height:0px; }
#showInfo   { border:0px; position:absolute; top:0px; left:0px; width:0px; height:0px; padding-bottom:25px; }
#showEpDesc { border:0px; position:absolute; top:0px; left:0px; width:0px; height:0px; padding-bottom:25px; }
#showsTable { z-index:10; border:1px solid #69C; margin-bottom:15px; width:550px; min-width:550px; max-width:550px !important; }
#showsBody  { width:550px; min-width:550px; max-width:550px !important; }
.emptyTR    { height:20px; border:1px solid #69C; }
#showsCount { position:relative; right:130px; top:12px; text-align:right; float:right; }
#showBanner { position:relative; top:0px; left:0px; border:0px; padding:10px 0px; padding--top:25px; text-align:center; }

.showShowInfo  { cursor:default; width:1px; white-space:nowrap; height:20px; width:550px; min-width:550px; max-width:550px !important; }
.showShowInfo1 { color:silver; padding:2px 4px; }
.sInfoSize     { color:silver; float:right; padding-left:10px; }
.sInfoRating   { float:right; padding-left:10px; }
.galleryImage  { width:16px !important; height:16px !important; z-index:50; }
.selectedShow  { font-weight: bold !important; }

.tableDesc  { width:350px; padding:0px; margin:0px; z-index:1; }
#tvBanner   { cursor:default; height:54px; }
.showDescTD { padding:10px 25px 20px 25px; text-align:justify; white-space:pre-line !important; }
.descDiv    { width:300px; margin-top:15px; }

#descTR       { cursor:default; height:20px; }
.descTRd1     { padding:0px 0px 0px 25px; }
.seasonTR     { cursor:default; height:20px; }
.seasonTRd1   { padding:0 0 0 10px; }
.seasonTRd2   { padding-right:2px !important; }
.epTR         { cursor:default; height:20px; }
.epTRd1       { padding:0px 0px 0px 25px; min-width:180px; max-width:180px; overflow:hidden; }
.padTD        { padding-left:10px; }
.vSpan        { color:silver; }
.showPlayItem,
.showPlayItem:active,
.showPlayItem:hover { color:silver; font-size:11px; }

#epDescription { position:relative; border-top:0px; width:350px; padding:0px; margin:0px; z-index:1; }
.showDescTD2   { padding:20px 25px; white-space:pre-line !important; }
.epCheckSpan   { float:right; position:relative; top:-6px; width:24px; height:24px; }
.thumbCheck    { width:24px !important; height:24px !important; }
.thumbDiv      { position:relative; top:-8px; padding-bottom:10px; }
.thumbImg      { width:298px; border-radius:3px; -webkit-border-radius:3px; }
.epDesc        { padding-bottom:15px; text-align:justify; white-space:pre-line !important; }
.flalright     { float:right; text-align:right; }
.flalleft      { float:left; text-align:left; }
.padbot15      { padding-bottom:15px; }
.padtop15      { padding-top:15px; }
.nOverflow     { overflow-x:hidden; white-space:nowrap !important; }

#adminInfo { top:60px; right:25px; position:absolute; text-align:right; padding:10px 10px 14px; }

.maxWidth30 {
	max-width: 30px;
	overflow-x: hidden;
}

